#newImg {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
  z-index: 999;
}
html {
  height: 100%;
}
html body {
  font: 100% "Microsoft Yahei", verdana;
  margin: 0 auto;
  background-color: #fff;
  padding: 0;
  min-width: 300px;
  max-width: 640px;
  font-size: 18px;
  height: 100%;
}
html body .fixedBg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
html body .blockImg {
  display: block;
}
html body .content {
  height: 100%;
}
html body .content #indexPart {
  margin: 0 auto;
}
html body .content #indexPart .font {
  position: absolute;
  top: 280px;
  width: 112px;
  z-index: 12;
  left: 50%;
  margin-left: -56px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-transform: translateY(110%);
  -moz-transform: translateY(110%);
  -webkit-transform: translateY(110%);
  -o-transform: translateY(110%);
  transform: translateY(110%);
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
html body .content #indexPart .font.ss {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -moz-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
html body .content #indexPart .name {
  position: absolute;
  top: 277px;
  width: 112px;
  z-index: 12;
  left: 50%;
  margin-left: -32px;
  font-size: 1.8em;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-transform: translateY(110%);
  -moz-transform: translateY(110%);
  -webkit-transform: translateY(110%);
  -o-transform: translateY(110%);
  transform: translateY(110%);
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #000;
}
html body .content #indexPart .name.ss {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -moz-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
html body .content #indexPart .mes {
  position: absolute;
  width: 40px;
  top: 240px;
  z-index: 112;
  right: 80px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-transform: translateY(410%);
  -moz-transform: translateY(410%);
  -webkit-transform: translateY(410%);
  -o-transform: translateY(410%);
  transform: translateY(410%);
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
html body .content #indexPart .mes.ss {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -moz-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
html body .content #indexPart .watchPart {
  width: 300px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
html body .content #indexPart .co {
  width: 175px;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -87.5px;
  top: 205px;
  z-index: 11;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-transform: translateY(410%);
  -moz-transform: translateY(410%);
  -webkit-transform: translateY(410%);
  -o-transform: translateY(410%);
  transform: translateY(410%);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html body .content #indexPart .co.ss {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
html body .content #indexPart .watch {
  width: 250px;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -125px;
  z-index: 10;
  top: 7%;
}
html body .content #indexPart .button {
  height: 110px;
  width: 110px;
  position: absolute;
  z-index: 11;
  top: 470px;
  left: 50%;
  margin-left: -53px;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  transform: translateY(100%);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 99;
}
html body .content #indexPart .inputFilebutton {
  height: 110px;
  width: 110px;
  position: absolute;
  z-index: 11;
  top: 470px;
  left: 50%;
  margin-left: -53px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
html body .content #indexPart .gobuttontDv {
  width: 96px;
  height: 96px;
  position: absolute;
  z-index: 12;
  top: 470px;
  left: 50%;
  margin-left: -42px;
  background: none;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
html body .content #indexPart.active .button {
  -ms-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -moz-transition-delay: 3.6s;
  -webkit-transition-delay: 3.6s;
  -o-transition-delay: 3.6s;
  transition-delay: 3.6s;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
html body .content #choosePart .titlefont {
  width: 60%;
  position: relative;
  left: 50%;
  margin-left: -30%;
  margin-top: 10%;
}
html body .content #choosePart .lujinPart {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  height: 75%;
  top: 14%;
}
html body .content #choosePart .lujinPart .keai {
  position: absolute;
  width: 35%;
  right: 7%;
  -webkit-animation: anA ease 5.5s both infinite;
  -moz-animation: anA ease 5.5s both infinite;
  -o-animation: anA ease 5.5s both infinite;
  -ms-animation: anA ease 5.5s both infinite;
  animation: anA ease 5.5s both infinite;
}
html body .content #choosePart .lujinPart .chengwen {
  position: absolute;
  width: 40%;
  left: 7%;
  top: 10%;
  -webkit-animation: anB ease 5.5s both infinite;
  -moz-animation: anB ease 5.5s both infinite;
  -o-animation: anB ease 5.5s both infinite;
  -ms-animation: anB ease 5.5s both infinite;
  animation: anB ease 5.5s both infinite;
}
html body .content #choosePart .lujinPart .miantian {
  position: absolute;
  width: 42%;
  top: 30%;
  right: 7%;
  -webkit-animation: anA ease 6.5s both infinite;
  -moz-animation: anA ease 6.5s both infinite;
  -o-animation: anA ease 6.5s both infinite;
  -ms-animation: anA ease 6.5s both infinite;
  animation: anA ease 6.5s both infinite;
}
html body .content #choosePart .lujinPart .wenrou {
  position: absolute;
  width: 38%;
  top: 45%;
  left: 9%;
  -webkit-animation: anA ease 7.5s both infinite;
  -moz-animation: anA ease 7.5s both infinite;
  -o-animation: anA ease 7.5s both infinite;
  -ms-animation: anA ease 7.5s both infinite;
  animation: anA ease 7.5s both infinite;
}
html body .content #choosePart .lujinPart .chuangtong {
  position: absolute;
  width: 33%;
  right: 17%;
  top: 68%;
  -webkit-animation: anA ease 3.5s both infinite;
  -moz-animation: anA ease 3.5s both infinite;
  -o-animation: anA ease 3.5s both infinite;
  -ms-animation: anA ease 3.5s both infinite;
  animation: anA ease 3.5s both infinite;
}
html body .content #formPart .sharebtn {
  margin: 0 auto;
  display: block;
  width: 22%;
  margin-top: 10%;
}
html body .content #formPart .share {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
html body .content #formPart .formDv {
  width: 80%;
  position: relative;
  top: 20%;
  margin: 0 auto;
  text-align: center;
}
html body .content #formPart .formDv .title {
  width: 100%;
}
html body .content #formPart .formDv input {
  width: 195px;
  margin: 0 auto;
  margin-top: 10%;
  display: block;
  height: 44px;
  background: none;
  font-size: 3em;
  padding: 0 10px;
  outline: none;
  color: #fff;
  border: 2px solid #cdc290;
  padding-bottom: 5px;
}
html body .content #formPart .formDv .submit {
  margin: 0 auto;
  display: block;
  width: 22%;
  margin-top: 16%;
}
html body .content #LvJing .saveImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
html body .content #LvJing .confrimPhoto {
  width: 15%;
  position: absolute;
  top: 2%;
  left: 3%;
}
html body .content #LvJing .no {
  width: 15%;
  position: absolute;
  top: 13%;
  left: 3%;
}
html body .content #LvJing .notice {
  width: 30%;
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  margin-left: -15%;
}
html body .content #LvJing .save {
  width: 15%;
  position: absolute;
  top: 25%;
  left: 3%;
}
html body .content #LvJing .bgItm {
  width: 100%;
  height: 100%;
}
/*动画*/
@-webkit-keyframes anA {
  0% {
    -ms-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  20% {
    -ms-transform: translate(5%, 5%);
    -moz-transform: translate(5%, 5%);
    -webkit-transform: translate(5%, 5%);
    -o-transform: translate(5%, 5%);
    transform: translate(5%, 5%);
  }
  40% {
    -ms-transform: translate(10%, 10%);
    -moz-transform: translate(10%, 10%);
    -webkit-transform: translate(10%, 10%);
    -o-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
  50% {
    -ms-transform: translate(10%, 20%);
    -moz-transform: translate(10%, 20%);
    -webkit-transform: translate(10%, 20%);
    -o-transform: translate(10%, 20%);
    transform: translate(10%, 20%);
  }
  60% {
    -ms-transform: translate(5%, 20%);
    -moz-transform: translate(5%, 20%);
    -webkit-transform: translate(5%, 20%);
    -o-transform: translate(5%, 20%);
    transform: translate(5%, 20%);
  }
  70% {
    -ms-transform: translate(0%, 20%);
    -moz-transform: translate(0%, 20%);
    -webkit-transform: translate(0%, 20%);
    -o-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
  }
  80% {
    -ms-transform: translate(0%, 20%);
    -moz-transform: translate(0%, 20%);
    -webkit-transform: translate(0%, 20%);
    -o-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
  }
  100% {
    -ms-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@keyframes anA {
  0% {
    -ms-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  20% {
    -ms-transform: translate(5%, 5%);
    -moz-transform: translate(5%, 5%);
    -webkit-transform: translate(5%, 5%);
    -o-transform: translate(5%, 5%);
    transform: translate(5%, 5%);
  }
  40% {
    -ms-transform: translate(10%, 10%);
    -moz-transform: translate(10%, 10%);
    -webkit-transform: translate(10%, 10%);
    -o-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
  50% {
    -ms-transform: translate(10%, 20%);
    -moz-transform: translate(10%, 20%);
    -webkit-transform: translate(10%, 20%);
    -o-transform: translate(10%, 20%);
    transform: translate(10%, 20%);
  }
  60% {
    -ms-transform: translate(5%, 20%);
    -moz-transform: translate(5%, 20%);
    -webkit-transform: translate(5%, 20%);
    -o-transform: translate(5%, 20%);
    transform: translate(5%, 20%);
  }
  70% {
    -ms-transform: translate(0%, 20%);
    -moz-transform: translate(0%, 20%);
    -webkit-transform: translate(0%, 20%);
    -o-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
  }
  80% {
    -ms-transform: translate(0%, 20%);
    -moz-transform: translate(0%, 20%);
    -webkit-transform: translate(0%, 20%);
    -o-transform: translate(0%, 20%);
    transform: translate(0%, 20%);
  }
  100% {
    -ms-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@keyframes anB {
  10% {
    -ms-transform: translate(10%, 3%);
    -moz-transform: translate(10%, 3%);
    -webkit-transform: translate(10%, 3%);
    -o-transform: translate(10%, 3%);
    transform: translate(10%, 3%);
  }
  30% {
    -ms-transform: translate(30%, 10%);
    -moz-transform: translate(30%, 10%);
    -webkit-transform: translate(30%, 10%);
    -o-transform: translate(30%, 10%);
    transform: translate(30%, 10%);
  }
  60% {
    -ms-transform: translateX(25%, 40%);
    -moz-transform: translateX(25%, 40%);
    -webkit-transform: translateX(25%, 40%);
    -o-transform: translateX(25%, 40%);
    transform: translateX(25%, 40%);
  }
  100% {
    -ms-transform: translateX(20%, 3%);
    -moz-transform: translateX(20%, 3%);
    -webkit-transform: translateX(20%, 3%);
    -o-transform: translateX(20%, 3%);
    transform: translateX(20%, 3%);
  }
}
@-webkit-keyframes roateXuanZhuan {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes roateXuanZhuan {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
